<%- include ('../partials/html-head') %> 
<%- include ('../partials/nav') %>

<% profiles.forEach(profile => { %>
  <% if (profile.avatar) { %> 
    <img src="<%= profile.avatar %> ">  
  <% } %> 
  <p><%= profile.name %> </p>
<% }) %>  

<%- include ('../partials/footer') %> 