<%- include ('../partials/html-head') %>
<%- include ('../partials/nav') %>

<section>
  <h1>All Items</h1>
  <% items.forEach(item => { %> 
    <table>
        <tr>
          <td>title</td>
          <td>owner</td>
          <td>shareStatus</td>
        </tr>
        <tr>
          <td><%= item.title %> </td>
          <td><%= item.owner %> </td>
          <td><%= item.shareStatus %> </td>
        </tr>
    </table>
  <% }) %> 
  <a href="/items/new">Create a New Item</a>
</section>





<%- include ('../partials/footer') %> 