<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div id="item-view-container">
  <div id="info-container">
    <h1><%= item.title %> </h1>
    <p>Date Acquired:<%= item.date %> </p>
    <p>Hours:<%= item.hours %> </p>
    <p>Willing to Share?:<%= item.shareStatus %> </p>
    <div id="note-box">
      <p><%= note.content %> </p>
    </div>
  </div>
  <% if (item.owner.equals(user?.profile._id)) { %>
    <form action="/items/<%= item._id %>/notes " method="POST"> 
      <div id="notes-container">
        <h1>Item Notes</h1>
        <p>Condition:<%= item.condition %> </p>
        <input type="text" name="note" id="note-input"> 
        <button class="btn" type="submit">Create Note</button>
      </div>
    </form>
    <form action="/items/<%= item._id %>/edit " method="GET">
      <button class="btn" type="submit">Update this Item</button>
    </form>
    <form action="/items/<%= item._id %>?_method=DELETE " method="POST">
      <button class="btn" type="submit">Delete this Item</button>
    </form>
  <% } %> 


<%- include('../partials/footer') %>