<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<% if (item.owner.equals(user?.profile._id)) { %>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= item.title %> </p>
          <p class="subtitle is-6"><%= item.owner %> </p>
          <p class="subtitle is-6">Item Hours:<%= item.hours %> </p>
          <p class="subtitle is-6">Item Condition:<%= item.condition %> </p>
          <p class="subtitle is-6">Date Aqcuired:<%= item.date %> </p>
          <p class="subtitle is-6">Willing to Share?<%= item.shareStatus %> </p>
          <p><a class="button is-light" href="/items/<%= item._id %>/edit ">Edit Item</a></p>
          <form action="/items/<%= item._id %>?_method=DELETE " method="POST">
            <button class="button is-light" type="submit">Delete this Item</button>
          </form>
        </div>
      </div>

      <div class="content">
        <br>
        <% item.notes.forEach(function(note) { %> 
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Note created on <%= note.createdAt.toLocaleDateString() %> 
              </p>
              <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </header>
            <div class="card-content">
              <div class="content">
                <%= note.content %> 
              </div>
            </div>
            <footer class="card-footer">
            </footer>
          </div>
        <% }) %> 
      </div>
    </div>
  </div>
  <form id='note-pad' action="/items/<%= item._id %>/notes " method="POST" >
    <div class="field">
      <label class="label">Add Note</label>
      <div class="control">
        <input name='content' type='text' class="textarea" placeholder="Add Note Here"></input>
        <button class="btn" type="submit">Create Note</button>
      </div>
    </div>
  </form>
  <% } %> 


<%- include('../partials/footer') %>